body {
    font-family: Arial, sans-serif;
}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="date"], input[type="email"], input[type="password"] {
    width: 100%;
    height: 50%;
    padding: 5px;
    margin-top: 5px;
}

select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: blue;
    text-decoration: none;
}

.form button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid #7AC943;
    box-sizing: border-box;
    text-align: center;
    background-color: #7AC943;
    color: white;
    font-weight: bold;
    font-size: 14px;
}