.footerlinks {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    text-decoration: none;
    color: white;
}

    .footerlinks:hover {
        color: #ffff00;
    }

#footer1, #footer2 {
    background-color: brown;
}
